body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color:#ffdbe9;
}

.page {
    width: 1280px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 60px;
}

.small-font {
    font-size: 14px;
}

.desc{
    font-size: 20px;
    text-align: justify;
    padding-left: 30px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.desc2{
    font-size: 20px;
    text-align: justify;
    padding-right: 30px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.desc_center{
    font-size: 20px;
    text-align: justify;
    padding-left: 40px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.bold {
    font-weight: bold;
}

.bold_blue {
    font-weight: bold;
    color:#ae017e;
}

.interactivity {
    font-weight: bold;
    color: #ae017e;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
